<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Índice</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="columns-3 max-w-4xl mx-auto mt-4">
      <a href="./ultrasonic"
        ><img
          class="border w-full aspect-square"
          src="https://img.gkbcdn.com/p/2015-12-17/hc-sr04-ultrasonic-sensor-distance-measuring-module-3-3v---5v-compatible-for-arduino-nodemcu-1571976572471._w500_p1_.jpg"
      /></a>
      <a href="./camera"
        ><img
          class="border w-full aspect-square"
          src="https://sc04.alicdn.com/kf/H4ad03ada6bfc4182bfcc1a0ccd67bc1fe.jpg"
      /></a>
      <a href="./lcd"
        ><img
          class="border w-full aspect-square"
          src="https://media-cdn.seeedstudio.com/media/catalog/product/cache/b2267b506d4e4594666ef83a79896a9a/h/t/httpsstatics3.seeedstudio.comseeedfile2018-10bazaar969249_front.jpg"
      /></a>
      <a href="./live"
        ><img
          class="border w-full aspect-square"
          src="https://us.123rf.com/450wm/siamimages/siamimages1903/siamimages190300037/124320103-dise%C3%B1o-de-vector-de-se%C3%B1al-en-l%C3%ADnea-de-transmisi%C3%B3n-en-vivo.jpg?ver=6"
      /></a>
    </div>
  </body>
</html>
